<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main> 
      <h1><%= title %></h1>

      <% if (messages.length > 0) { %>
        <ul>
          <% messages.forEach((msg) => { %>
            <li>
              <small><%= msg.added %></small>
              <h2><%= msg.user %></h2>
              <p><%= msg.text %></p>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </main> 
  </body>
</html>
